# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# --- KUNCI RAHASIA & CONFIG (WAJIB DITAMBAH) ---

# Firebase Config (Android)
android/app/google-services.json

# Firebase Config (iOS - jaga-jaga kalau nanti build iOS)
ios/Runner/GoogleService-Info.plist

# Firebase Config (Dart - Berisi API Key)
lib/firebase_options.dart

# Android Signing Keys (SANGAT RAHASIA - Jangan pernah upload)
android/key.properties
**/*.keystore
**/*.jks

# Environment Variables (Jika pakai .env nanti)
.env